<div class="AboutUs">
    <h2>О нас</h2>
    <p>Мы ...</p>
    <p>Мы предлагаем как работодателям найти сотрудника, так и соискателю найти работу</p>
</div>

<style>
    div {
        padding: 2rem;
        margin: 2rem 0px;
        background-color:#f2f2f2;
    }

    h2 {
        color: black;
        font-size: 50px;
    }

    p {
        color: black;
        font-size: 20px;
    }
</style>