<div class="Banner">
    <div>
        <h1>Траектория</h1>
        <p>Мы можем помочь вам найти работу или сотрудника</p>
        <button>Зарегестрируйся бесплатно</button>
    </div>
    <img src="../../res/logo.png" alt="logo" width="300px" height="75px">
</div>

<style>

    h1 {
        color: black;
        font-size: 50px;
    }

    p {
        color: black;
        font-size: 20px;
    }

    button {
			background: #462386;
			border: 3px solid #000000;
			border-radius: 8px;
			font-size: large;
			padding: 0.75rem 1rem;
			font-weight: bold;
			text-transform: uppercase;
	}

    .Banner {
        margin: 1rem;
        padding: 4rem;
        border-radius: 2rem;
        background-color: #f2f2f2;
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    .Banner div {
        flex: 1
    }

    .Banner div p {
        margin: 2rem 0px;
    }
</style>