---
import Layout from "../layouts/Layout.astro";
---

<Layout title="События">
    <div class="overflow-x-auto">
        <table class="table w-full">
          <tbody>
            <!-- row 1 -->
            <tr>
                <div class="card card-side bg-base-100 shadow-xl">
                    <figure><img src="../../res/carousel/1.jpg" height="100" width="100" alt="1" /></figure>
                    <div class="card-body">
                      <h2 class="card-title">Хакатон в *город_нейм*</h2>
                      <p>В *город_нейм* пройдёт хакатон. Заказчики: *компания_нейм*, *компания_нейм*, *компания_нейм*</p>
                      <div class="card-actions justify-end">
                        <button class="btn btn-primary">Зарегестрироваться</button>
                      </div>
                    </div>
                  </div>
            </tr>
            <!-- row 2 -->
            <tr>
                <div class="card card-side bg-base-100 shadow-xl">
                    <figure><img src="../../res/carousel/2.jpg" alt="Movie" height="10px"/></figure>
                    <div class="card-body">
                      <h2 class="card-title">Научная конференция в *город_нейм*</h2>
                      <p>Рыбатекст</p>
                      <div class="card-actions justify-end">
                        <button class="btn btn-primary">Зарегестрироваться</button>
                      </div>
                    </div>
                  </div>
            </tr>
            <!-- row 3 -->
            <tr>
                <div class="card card-side bg-base-100 shadow-xl">
                    <figure><img src="../../res/carousel/3.jpg" alt="Movie"/></figure>
                    <div class="card-body">
                      <h2 class="card-title">*Мероприятие_нейм* в *город_нейм*</h2>
                      <p>Рыба.</p>
                      <div class="card-actions justify-end">
                        <button class="btn btn-success">Вы уже зарегистрированы</button>
                      </div>
                    </div>
                  </div>
            </tr>
            <tr>
                <div class="card card-side bg-base-100 shadow-xl">
                    <figure><img src="../../res/carousel/4.jpg" alt="Movie"/></figure>
                    <div class="card-body">
                      <h2 class="card-title">*Мероприятие_нейм* в *город_нейм*</h2>
                      <p>Рыба.</p>
                      <div class="card-actions justify-end">
                        <button class="btn btn-primary">Зарегестрироваться</button>
                      </div>
                    </div>
                  </div>
            </tr>
          </tbody>
        </table>
      </div>
</Layout>

<style>
    figure {
        width: 300px;
        height: 1000;
    }
</style>