---
import "../global.css";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Профиль">
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row">
      <div>
        <div class="card card-side bg-base-100 shadow-xl">
          <figure><img src="../../res/carousel/7.jpg" alt="photo" /></figure>
          <div class="card-body">
            <h1 class="text-5xl font-bold">Иван Иванов</h1>
            <p class="py-6">
              Очень интересный текст, который пользователь написал о себе
            </p>
            <div>
              <h2>Skills</h2>
              <div>
              <img src="../../res/javascript.svg" alt="javascript" height="50px" width="50px">
              <img src="../../res/docker.svg" alt="docker" height="50px" width="50px">
              </div>
            </div>            
            <div class="stats shadow">
              <div class="stat place-items-center">
                <div class="stat-title">Рейтинг</div>
                <div class="stat-value">31K</div>
                <div class="stat-desc">2023</div>
              </div>

              <div class="stat place-items-center">
                <div class="stat-title">Активность</div>
                <div class="stat-value text-secondary">4,200</div>
                <div class="stat-desc text-secondary">↗︎ 40 (2%)</div>
              </div>
            </div>
            <div class="card-actions justify-end">
              <button class="btn btn-primary">Посмотреть Резюме</button>
            </div>
          </div>
        </div>
    </div>
  </div>
</Layout>
