---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Вакансии">
    <select class="select select-bordered w-full max-w-xs">
        <option disabled selected>Who shot first?</option>
        <option>Han Solo</option>
        <option>Greedo</option>
      </select>
      <div class="overflow-x-auto">
        <table class="table w-full">
          <tbody>
            <!-- row 1 -->
            <tr>
                <div class="card card-side bg-base-100 shadow-xl">
                    <figure><img src="../../res/carousel/1.jpg" height="100" width="100" alt="1" /></figure>
                    <div class="card-body">
                      <h2 class="card-title">Вакансия 1</h2>
                      <p>Описание вакансии.</p>
                      <div class="card-actions justify-end">
                        <button class="btn btn-primary">Отправить резюме</button>
                      </div>
                    </div>
                  </div>
            </tr>
            <!-- row 2 -->
            <tr>
                <div class="card card-side bg-base-100 shadow-xl">
                    <figure><img src="../../res/carousel/2.jpg" alt="Movie" height="10px"/></figure>
                    <div class="card-body">
                      <h2 class="card-title">Вакансия 2</h2>
                      <p>Описание вакансии.</p>
                      <div class="card-actions justify-end">
                        <button class="btn btn-success">Резюме отправлено</button>
                      </div>
                    </div>
                  </div>
            </tr>
            <!-- row 3 -->
            <tr>
                <div class="card card-side bg-base-100 shadow-xl">
                    <figure><img src="../../res/carousel/3.jpg" alt="Movie"/></figure>
                    <div class="card-body">
                      <h2 class="card-title">Вакансия 3</h2>
                      <p>Описание вакансии.</p>
                      <div class="card-actions justify-end">
                        <button class="btn btn-primary">Отправить резюме</button>
                      </div>
                    </div>
                  </div>
            </tr>
            <tr>
                <div class="card card-side bg-base-100 shadow-xl">
                    <figure><img src="../../res/carousel/4.jpg" alt="Movie"/></figure>
                    <div class="card-body">
                      <h2 class="card-title">Вакансия 4</h2>
                      <p>Описание вакансии.</p>
                      <div class="card-actions justify-end">
                        <button class="btn btn-primary">Отправить резюме</button>
                      </div>
                    </div>
                  </div>
            </tr>
          </tbody>
        </table>
      </div>
</Layout>

<style>
    select {
      left: 50%;
      right: 50%;
    }
    figure {
        width: 300px;
        height: 1000;
    }
</style>