---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Вакансии">
    <select class="select select-bordered w-full max-w-xs">
        <option disabled selected>Who shot first?</option>
        <option>Han Solo</option>
        <option>Greedo</option>
      </select>
</Layout>

<style>
    select {
      left: 50%;
      right: 50%;
    }
</style>